#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App {
  text-align: center;
}

#video-container video {
  width: 95%;
  height: auto;
  max-width: 1024px;
  max-height: 600px;
}

.nav {
  width: 95%;
  max-width: 1024px;
  overflow-x: scroll;
  display: flex;
  margin: auto;
}

.nav button:first-child {
  margin-left: 50%;
}
.nav button:last-child {
  margin-right: 50%;
}

.nav button{
  display: inline-block;
  justify-content: left;
  
  /* height: 200px; */
  font-size: 24px;
  /* height: 100vmin; */
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  width: 250px;
}
.nav button:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(196, 73, 118);
  transform: scale(1.1);
}
.nav .active{
  color: white;
  background-color:rgb(23, 159, 84)
}


#progress-container {
  display: flex;
  /* align-items: flex-start; */
  flex-direction: row;
  justify-content: center;
}
#progress-container progress {
  margin: 15px 0px;
  width: 60%;
  /* border: 2px solid; */
}
#progress-container p {
  color: darkblue;
  margin: 10px;
}




#container {
  height: 500px;
  /* Full Screen Height */
  border: 2px solid red;
}
#test {
  width: 70%;
  border: 2px solid black
}