body {
  text-align: center;
  overflow-x: hidden;
}

#title-bar {
  width: 101%;
  margin: auto;
  height: 10vh;
  position: relative;
  top: -2vh;
  left: -2vh;
  box-shadow: 5px 5px 10px #eee;
  padding: 10px;
}

#title-bar h1 {
  text-align: center;
  vertical-align: middle;
}


#video-container video {
  width: 95%;
  height: auto;
  max-width: 1024px;
  max-height: 600px;
}

#time-buttons {
  /* background-color: aqua; */
  width: 95%;
  max-width: 1024px;
  overflow-x: scroll;
  display: flex;
  margin: auto;
}

#time-buttons button:first-child {
  margin-left: 50%;
}
#time-buttons button:last-child {
  margin-right: 50%;
}

#time-buttons button{
  display: inline-block;
  justify-content: left;
  
  /* height: 200px; */
  font-size: 24px;
  /* height: 100vmin; */
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  width: 250px;
}
#time-buttons button:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(196, 73, 118);
  transform: scale(1.1);
}
#time-buttons .active{
  color: white;
  background-color:rgb(23, 159, 84)
}


#progress-container {
  display: flex;
  /* align-items: flex-start; */
  flex-direction: row;
  justify-content: center;
}
#progress-container progress {
  margin: 15px 0px;
  width: 60%;
  /* border: 2px solid; */
}
#progress-container p {
  color: darkblue;
  margin: 10px;
}


#canvas2d {
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  border: 1px solid darkblue;
}

.collapse {
  visibility: collapse;
  position: absolute;
  top: 0;

}

#canvas3d {
  margin-top: 2vh;
  width: 95%;
  max-width: 2000px;
  height: 80vh;
  left: 50%;
  top: 0;
  border: 1px solid darkblue;
}

#controls-3d {
  position: relative;
  top: -10vh;
  width: 90%;
  max-width: 1000px;;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

#controls-3d button {
  background-color: white;
  display: inline-block;
  border-radius: 0px;
  /* height: 200px; */
  font-size: 18px;
  /* height: 100vmin; */
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 100px;
}
#controls-3d button:hover {
  cursor: pointer;
}
#controls-3d button:active {
  background-color: #DD33DD;
}

/* Hide the browser's default checkbox */
/* Customize the label (the container) */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
#controls-3d input {
  transform: scale(2.0);
  margin: 20px 10px 20px 50px;
}